body{
    background-color: darkslategrey;
}

#construction{
    text-align: center;
    font-size: 100%;
    font-family: 'Lobster', cursive;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

#link{
    font-size: 200%;
    font-family: 'Lobster', cursive;
    color: #3700ff;
    text-shadow: 2px 2px 4px #000000;
}
